* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.card {
    padding: 30px 25px;   
    text-align: center; 
}

.title {
    font-size: 18px;
    color: #111827;
    margin-bottom: 10px;
    font-weight: 500;
}

.text {
    font-size: 11px;
    color: #6b7280;
    margin-bottom: 9px; 
    max-width: 350px;
    width: 100%;
    margin-inline: auto;
}

.btn {
    padding: 7px 16px;
    border: none;
    border-radius: 4px;
    background-color: #6E38F7;
    color: #fff;
    font-size: 7px;
    text-transform: uppercase;
}



